@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background: url(https://www.vectfree.com/wp-content/uploads/White-Art-Paper-Background-Premium-Vector-scaled.jpg);
    padding: 100px 0;
}

.container {
    width: 800px;
    min-height: 800px;

    margin: 0 auto;
    background-color: rgb(255, 249, 249);
}
.header{
    display: flex;
    height: 150px;
}

.titleblock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 40px;
    background: #4F555D center center / cover;
    margin-right: 3px;
    color: #fff;
}

.pic{
    display: flex;
    width: 20%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/50/a2/d1/50a2d14f4c391669a81a6a6ed2d7b2ad.png) center center / cover;
}
.nav ul{
display: flex;
background: #C7D3CF;
}

.nav li a{
    display: flex;
    padding: 18px;
    text-decoration: none;
    color: #4F555D;
    font-weight: bold;
    border-right: 2px solid #979ba0;
}

.nav li a:hover{
background: #979ba0;
}

.content-wrapper{
    display: flex;
}
h2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 13px;
}

h3{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 13px;
}

.content{
    margin-left: 10px;
    margin-right: 3px;
}

p{
    text-indent: 30px;
}

.plugin-image{
    width: 53%;
    height: 250px;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
}

.last{
    margin-bottom: 20px;
}

table{
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(223, 217, 217);
    border: 16px solid rgb(223, 217, 217);
    border-radius: 18px;
}

td{
    padding: 10px;
    background-color: rgb(218, 178, 178);
}